@font-face {
    font-family: 'Times New Roman';
    src: url('https://cdn.anomiro.ru/fonts/TimesNewRomanPS-ItalicMT.woff2') format('woff2'),
        url('https://cdn.anomiro.ru/fonts/TimesNewRomanPS-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman Cyr';
    src: url('https://cdn.anomiro.ru/fonts/TimesNRCyrMT-Bold.woff2') format('woff2'),
        url('https://cdn.anomiro.ru/fonts/TimesNRCyrMT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman Cyr';
    src: url('https://cdn.anomiro.ru/fonts/TimesNRCyrMT.woff2') format('woff2'),
        url('https://cdn.anomiro.ru/fonts/TimesNRCyrMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times';
    src: url('https://cdn.anomiro.ru/fonts/Times-BoldItalic.woff2') format('woff2'),
        url('https://cdn.anomiro.ru/fonts/Times-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Gotham XNarrow', sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
}

div,
p,
h3,
h4,
h5,
h6,
li,
span {
    font-family: 'Gotham XNarrow', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden
}

a:hover {
    text-decoration: none;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

/*------Кнопки------*/

.button-one {
    background: var(--color-bg-2);
    font-family: 'Gotham XNarrow', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    border-left: 3px solid var(--color-bg-2);
    transition: all 0.5s;
    padding: 16px 40px 15px 40px;
    color: var(--color-text2);
    text-align: center;
}

.button-one:hover {
    background: var(--color-text2);
    border-left: 3px solid var(--color-bg-2);
    color: var(--color-bg-2);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.button-two {
    background: var(--color-bg-1);
    font-family: 'Gotham XNarrow', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    transition: all 0.5s;
    padding: 16px 40px 15px 40px;
    color: var(--color-text2);
    text-align: center;
}

.button-two:hover {
    background: var(--color-bg-1h);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
    color: var(--color-text2);
}

/*------Управление слайдером кнопки------*/
.slide-nav {
    background: var(--color-bg-2);
    fill: var(--color-text2);
    width: 30px;
    padding: 4px 9px 5px 9px;
    transition: all 0.5s;
}

.slide-nav:hover {
    background: var(--color-text2);
    fill: var(--color-bg-2);
}



/*------Цвета текста------*/
.color1 {
    color: var(--color-bg-1);
}

.color2 {
    color: var(--color-bg-2);
}

.color3 {
    color: var(--color-text2);
}

/*------Заголовки------*/

.h2-basic {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 30px;
}

.h3-basic {
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 25px;
}

/*------Хедер------*/
.header-mobile {
    display: none;
}

.header-top {
    padding: 0 15px;
    background: var(--color-bg-2);
    color: var(--color-text2);
}

.header-top a {
    color: var(--color-text2);
}

.header-top-social>.uk-icon-button {
    width: 30px;
    height: 30px;
    background: none;
}

.header-top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-social {
    padding: 10px 0;
}

.header-top-social>.uk-icon {
    margin-right: 10px;
    transition: all 0.1s;
}

[class*=as-icon-]:hover {
    color: var(--color-text2);
    border-radius: 6px;
}

.as-icon-whatsapp:hover {
    background: #3EE25B
}

.as-icon-vk:hover {
    background: #5181B8
}

.as-icon-telegram:hover {
    background: #24A1DE
}

.as-icon-telephone {
    border: 1.85px solid var(--color-text2);
    border-radius: 50%;
    width: 27px !important;
    height: 27px !important;
}

.as-icon-telephone:hover {
    border-radius: 50%;
}

.as-icon-telephone,
.as-icon-vlk,
.as-icon-vihlk,
.as-icon-lk,
.as-icon-menu {
    color: var(--color-text2);
    transition: all 0.5s;
}

.as-icon-telephone:hover,
.as-icon-vlk:hover,
.as-icon-vihlk:hover,
.as-icon-lk:hover,
.as-icon-menu:hover {
    color: var(--color-bg-2);
    background: var(--color-text2) !important;
    border-radius: 50%;
    border: 3px solid var(--color-text2);
}

.header-top-social>.telephone {
    font-weight: 700;
    margin-left: 60px;
}

.header-bottom {
    color: var(--color-bg-1);
    font-weight: 500;
}

.header-bottom>.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-bottom-logo {
    padding: 30px 0;
}

.logo1024 {
    display: none;
}

.header-bottom-menu {
    display: flex;
    justify-content: space-between;
}

.header-bottom>.container>.header-bottom-menu>div>ul {
    display: flex;
    padding: 0px 30px;
}

.header-bottom>.container>.header-bottom-menu>div>ul>li>a {
    padding: 36px 15px;
    font-family: 'Gotham XNarrow', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.5s;
    text-transform: none;
    color: var(--color-bg-1);
    border-bottom: 4px solid var(--color-text2);
}

.header-bottom>.container>.header-bottom-menu>div>ul>li>a:hover,
.header-bottom>.container>.header-bottom-menu>div>ul>li:hover>a,
.header-bottom>.container>.header-bottom-menu>div>ul>li.active>a {
    color: var(--color-bg-2);
    border-bottom: 4px solid var(--color-bg-2);
}

.header-bottom>.container>.header-bottom-menu>.search {
    padding: 10px 0;
}

.header-bottom-menu>.uk-navbar-right>.uk-navbar-toggle {
    color: var(--color-bg-1);
    margin-right: 10px;
}

.header-bottom-menu>.uk-navbar-left>.uk-navbar-item>.uk-search {
    width: 90% !important;
}

.search-close {
    color: var(--color-bg-1) !important;
    margin-right: 10px;
}

.header-bottom-menu>.uk-navbar-left>.uk-navbar-item>.uk-search>.uk-search-input {
    font-size: 1rem;
    font-family: 'Gotham XNarrow', sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*------Меню------*/

.header-bottom-menu_one.uk-navbar-dropdown-width-4:not(.uk-navbar-dropdown-stack) {
    top: 93px !important;
    left: -400px;
    width: 1320px;
    padding: 25px 60px;
    background-image: linear-gradient(123deg, #F2F2F2 72%, rgba(242, 242, 242, 0.47) 98.94%), url('https://cdn.anomiro.ru/images/fonmenu.png');
    background-size: 100% 100%, contain;
    background-repeat: repeat, no-repeat;
    background-position: 100% 100%, 100% 100%;
}

.header-bottom-menu_one>div>div {
    border-right: 1px solid var(--color-bg-6);
    padding-right: 0px !important;
    padding-left: 100px;
}

.header-bottom-menu_one>div>div:last-child {
    border-right: 1px solid transparent;
}

.header-bottom-menu_one>div>div>ul>.uk-nav-header {
    color: var(--color-text3);
    font-family: 'Gotham XNarrow', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
    transition: all 0.5ms;
    cursor: pointer;
}

.header-bottom-menu_one>div>div>ul>.uk-nav-header:hover {
    color: var(--color-bg-2);
}

.header-bottom-menu_one>div>div>ul>li>a,
.header-bottom-menu_one>div>div>ul>li.active>a {
    color: var(--color-text3);
    font-family: 'Gotham XNarrow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    transition: all 0.5ms;
    cursor: pointer;
    line-height: 26px;
}

.header-bottom-menu_one>div>div>ul>li>a:hover,
.header-bottom-menu_one>div>div>ul>li.active>a {
    color: var(--color-bg-2);
}

.header-bottom-menu_two {
    top: 92px !important;
    background: var(--color-bg-4);
    padding: 15px 10px 15px 20px;
    width: 210px;
    box-shadow: none;

}

.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>a,
.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>div.uk-navbar-dropdown>ul>li>a {
    color: var(--color-text3);
    font-family: 'Gotham XNarrow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    transition: all 0.5ms;
    cursor: pointer;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>a:hover,
.header-bottom-menu_two>.uk-navbar-dropdown-nav>li.active>a,
.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>div.uk-navbar-dropdown>ul>li>a:hover,
.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>div.uk-navbar-dropdown>ul>li.active>a {
    color: var(--color-bg-2);
}

.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>a>span.uk-navbar-parent-icon {
    transform: rotate(270deg);
}

.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>.uk-navbar-dropdown {
    top: 30px !important;
    left: 210px !important;
    background: var(--color-bg-4);
    box-shadow: none;
    border-left: 1px solid var(--color-bg-6);
}


/*------Футер------*/
.footer {
    color: var(--color-text2);
}

.footer-top {
    background: var(--color-bg-3);
    padding: 55px 0;
}

.footer-top-logo {
    padding-bottom: 25px;
}

.footer-bottom {
    background: var(--color-bg-31);
    letter-spacing: 0.8px;
    color: var(--color-text21);
    border-top: 1px solid var(--color-text21);
    padding: 25px 0;
}

.footer-bottom>.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-top-menu_item>svg {
    fill: var(--color-bg-2);
}

.adress-footer {
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 10px;
}

.email-footer {
    color: var(--color-text2);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}

.email-footer:hover {
    color: var(--color-text2);
}

.telephone-footer {
    padding-top: 15px;
}

.telephone-footer>span {
    display: block;
    font-weight: 300;
    font-size: 14px;
}

.telephone-footer>a {
    color: var(--color-text2);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
}

.footer-top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.footer-top-menu_item:nth-child(even) {
    display: flex;
    flex-direction: row;
}

.footer-top-menu_item:nth-child(odd) {
    max-width: 370px;
}

.footer-top-menu_title {
    font-weight: 500;
    font-size: 18px;
    margin-left: 45px;
    margin-right: 45px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--color-bg-2);
    margin-bottom: 40px;
}

.footer-top-menu_item>div>ul {
    margin-left: 45px;
}

.footer-top-menu_item>div>ul>li>a {
    color: var(--color-text2);
    font-weight: 300;
    font-size: 15px;
    line-height: 35px;
}

.footer-bottom-social>.uk-icon-button {
    background: var(--color-bg-31);
    color: var(--color-text21);
    transition: all 0.5s;
}

.footer-bottom-social>.uk-icon-button:hover {
    color: var(--color-text2);
}

/*------БЛОКИ------*/

/*------Блок 1------*/

.main_block1 {
    height: 700px;
    display: block;
    position: relative;
}

.main_block1>div>ul>li>div>img,
.main_block1>div>ul>li>div {
    width: 100%;
}

.main_block1>div>div>a[class*='uk-position-center-left'],
.main_block1>div>div>a[class*='uk-position-center-right'] {
    /* top: calc(35% - var(--uk-position-margin-offset));*/
    top: 350px;
}

.main_block1>div>ul>li>div {
    z-index: 1;
}

.main_block1>div>ul>li>div.container {
    top: -610px;
    display: block;
    position: relative;
}

.h1-slider {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 70%;
}

.description-slider {
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
    color: var(--color-text2);
    width: 65%;
}

.text-slider {
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: var(--color-text2);
    width: 65%;
    padding-top: 30px;
}

.main_block1_gradient {
    width: 100%;
    height: 700px;
    background-size: 100% 100%, cover;
    background-repeat: repeat, no-repeat;
    background-position: 100% 100%, 100% 100%;
}

.slide-img1 {
    background-image: linear-gradient(90deg, rgba(42, 66, 102, 0.80) 0%, rgba(42, 66, 102, 0.7) 50%, rgba(79, 99, 130, 0.00) 100%), url('https://cdn.anomiro.ru/images/image2.jpg');
}

.slide-img2 {
    background-image: linear-gradient(90deg, rgba(42, 66, 102, 0.80) 0%, rgba(42, 66, 102, 0.7) 50%, rgba(79, 99, 130, 0.00) 100%), url('https://cdn.anomiro.ru/images/image1.jpg');
}

.main_block1>div>ul>li>div.uk-position-center {
    top: calc(35% - var(--uk-position-margin-offset));
}

.form-slider {
    margin-top: 40px;
    margin-left: -10px;
}

.form-slider>div {
    padding-left: 10px;
    padding-right: 0px;
}

.form-slider>label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.checkbox-form {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: 2px solid;
    border-color: var(--color-text2) !important;
    border-radius: 2px;
}

.checkbox-form.uk-checkbox:checked {
    background-color: transparent !important;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='9' viewBox='0 0 12 9' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.7071 2.20712C12.0976 1.8166 12.0976 1.18343 11.7071 0.792908C11.3166 0.402384 10.6834 0.402384 10.2929 0.792908L4.5 6.5858L2.20711 4.29291C1.81658 3.90238 1.18342 3.90238 0.792893 4.29291C0.402369 4.68343 0.402369 5.3166 0.792893 5.70712L3.79289 8.70712C4.18342 9.09765 4.81658 9.09765 5.20711 8.70712L11.7071 2.20712Z' fill='white'/%3e%3c/svg%3e");
}

.form-slider>div>button {
    padding: 11px;
    height: 60px;
}

.form-slider>div>input {
    background: var(--color-text2) !important;
    height: 60px !important;
    text-align: center;
    color: var(--color-text) !important;
}

.form-slider>div>input::-webkit-input-placeholder {
    color: var(--color-text) !important;
}

.form-slider>div>input::-moz-placeholder {
    color: var(--color-text) !important;
}

/* Firefox 19+ */
.form-slider>div>input:-moz-placeholder {
    color: var(--color-text) !important;
}

/* Firefox 18- */
.form-slider>div>input:-ms-input-placeholder {
    color: var(--color-text) !important;
}

.form-slider>label {
    color: var(--color-text2) !important;
}


/*------Блок 2------*/
.main_block2 {
    display: block;
    position: relative;
    top: -154px;
    margin-bottom: -330px;
}

.main_block2>.container>div.uk-flex.uk-flex-between {
    background: var(--color-text2);
}

.main_block2>.container>div>div>.uk-card-header {
    border: none;
}

.main_block2>div>div>div {
    box-shadow: none;
    padding: 15px 0px
}

.main_block2>div>div>div>div>div>div>img {
    width: 50px;
    border-radius: 0px;
}

.main_block2>div>div>div>div>div>div>h3.uk-card-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.9px;
    color: var(--color-bg-1);
    margin-bottom: 10px !important;
}

.slider-standart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider-standart_slide-nav {
    left: 47.5%;
    top: 32%;
}

.slider-standart>div {
    width: 50%;
}

.slider-standart>div:nth-child(odd) {
    padding: 5% 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--color-bg-4);
    height: 500px;
}

.slider-standart>div:nth-child(even) {
    padding: 5% 5%;
    background: var(--color-bg-1);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.slider-standart_title {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    color: var(--color-text2);
}

.slider-standart_description {
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    color: var(--color-text4);
}

.slider-standart_text {
    .slider-standart_text {
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        color: var(--color-text4);
    }
}

/*------Блок 3------*/
.main_block3 {
    padding: 180px 0px;
    background-image: linear-gradient(90deg, rgba(69, 86, 112, 0.80) 0%, rgba(69, 86, 112, 0.70) 50%, rgba(0, 0, 0, 0.00) 100%), url('https://cdn.anomiro.ru/images/переподготовка.jpg');
    background-size: 100% 100%, cover;
    background-repeat: repeat, no-repeat;
    background-position: 100% 100%, 100% 100%;
}

.main_block3>.container>div {
    margin-bottom: 50px;
}

.main_block3>.container>a {
    float: right;
}

.main_block3_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.main_block3_nav>nav.uk-navbar-container:not(.uk-navbar-transparent) {
    background: var(--color-bg-1);
    width: 24%;
}

.main_block3_nav>nav.uk-navbar-container>div>.uk-navbar-nav>li,
.main_block3_nav>nav.uk-navbar-container>div>.uk-navbar-nav,
.main_block3_nav>nav.uk-navbar-container>div {
    width: 100%;
}

.main_block3_nav>nav.uk-navbar-container>div>.uk-navbar-nav>li>a {
    color: var(--color-text2);
    text-transform: none;
    min-height: 10px;
    padding: 15px 15px 15px 25px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    font-family: 'Gotham XNarrow', sans-serif;
}

.main_block3_nav>nav.uk-navbar-container>div>.uk-navbar-nav>li>.uk-navbar-dropdown {
    width: 100%;
    top: 45px !important;
    box-shadow: none;
    padding: 0px;
    background: var(--color-bg-4);
}

.main_block3_nav>nav.uk-navbar-container>div>.uk-navbar-nav>li>.uk-navbar-dropdown>ul>li>a {
    padding: 15px 25px;
    background: var(--color-bg-4);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    color: var(--color-text3);
}

.main_block3_nav>nav.uk-navbar-container>div>.uk-navbar-nav>li>.uk-navbar-dropdown>ul>li:hover>a {
    background: var(--color-bg-5);
    color: var(--color-bg-1);
}

/*------Блок 4------*/
.main_block4 {
    padding: 150px 0px;
    background: var(--color-bg-2);
}

.main_block4_title {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--color-text2);
}

/*------Блок 5------*/
.main_block5 {
    padding: 150px 0px;
}

.main_block5>.container>a {
    float: right;
    margin-right: 10px;
}

.slide-nav_educator {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    height: 30px;
    top: 12px;
    position: relative;
    margin-bottom: 15px;
    margin-right: 10px;
}

.slide-nav_educator>.slide-nav {
    height: 30px;
    padding: 8px 7px 5px 10px;
    top: 0px;
    position: relative !important;
    display: flex;
}

.slider-educator {
    margin-bottom: 50px;
}

.slider-educator>ul>li>div {
    box-shadow: none;
    padding: 10px;
}

.slider-educator>ul>li>div>.uk-card-media-top {
    background: var(--color-text4);
}

.slider-educator>ul>li>div>.uk-card-media-top>a>img {
    width: 100%;
    display: block;
}

.slider-educator>ul>li>div>.uk-card-media-top:hover {
    background: var(--color-bg-5);
}



.card-educator_title>a {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color: var(--color-bg-1);
    padding-bottom: 5px;
}

.card-educator_title>a:hover {
    color: var(--color-bg-2);
}

.card-educator>details>summary {
    padding: 20px 10px 0px 0px;
}

.card-educator>details>summary>p {
    cursor: pointer;
}

.card-educator>details>p {
    animation: spoiler 1s;
}

/*.card-educator>details[open]>p {
    animation: spoiler 1s;
}

@keyframes spoiler {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
*/

details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: -10px
    }

    100% {
        opacity: 1;
        margin-left: 0px
    }
}

.card-educator::after {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    background: var(--color-bg-2);
    width: 70%;
    left: 0;
    top: 0;
    margin-top: 10px;
}

/*------Блок 6------*/
.main_block6 {
    background: var(--color-bg-1);
    padding: 100px 0px;
}

.logo4 {
    margin: 20px 0px;
    width: 50%;
}

.main_block6_req {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.main_block6_text {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 70px;
}

.main_block6>div>div>.uk-slideshow-items {
    min-height: 700px !important;
    width: 480px;
    margin: 0 auto;
}

.main_block6>div>div:nth-child(odd) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main_block6>div>div>.uk-slideshow-items>li>a>img {
    width: 100%;
    height: auto;
}

/*------Блок 7------*/

.main_block7 {
    background: var(--color-bg-4);
    padding: 130px 0px;
}

.main_block7_text {
    max-width: 1130px;
    margin-bottom: 45px;
    color: var(--color-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.main_block7_buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.main_block7_buttons>a {
    width: 49%;
    text-align: center;
}

/*------Адаптив ------*/
@media (max-width: 1350px) {
    .container {
        max-width: 1000px;
    }

    .logo {
        display: none;
    }

    .logo1024 {
        display: block;
    }

    .header-bottom-menu_one.uk-navbar-dropdown-width-4:not(.uk-navbar-dropdown-stack) {
        left: -100px;
        width: 1000px;
    }

    .header-bottom-menu_one>div>div {
        padding-left: 60px;
    }

    .main_block6>div>div>.uk-slideshow-items {
        min-height: 555px !important;
        width: 390px;
    }

    .main_block6_req {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .main_block6_text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 60px;
    }

    .main_block6_text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 28px;
    }
}

@media (max-width: 1060px) {
    .container {

        padding: 0 20px;
    }

    .header-bottom>.container>.header-bottom-menu>div>ul>li>a {
        padding: 25px 10px;
        font-size: 15px;
    }

    .header-bottom>.container>.header-bottom-menu>div>ul>li>a:hover {
        border-bottom: 2px solid var(--color-bg-2);
    }

    .footer-top-menu_item:nth-child(even) {
        flex-direction: column;
    }

    .footer-top-menu_title {
        margin-bottom: 10px;
    }

    .footer-top-menu_item>div>ul>li>a {
        line-height: 30px;
    }

    .footer-top-menu_item>div>ul {
        margin-bottom: 20px;
    }

    .header-bottom-menu_one.uk-navbar-dropdown-width-4:not(.uk-navbar-dropdown-stack) {
        top: 95px !important;
        left: -100px !important;
        width: 113%;
        background-image: linear-gradient(123deg, #F2F2F2 68%, rgba(242, 242, 242, 0.47) 98.94%), url("https://cdn.anomiro.ru/images/fonmenu.png");
    }

    .header-bottom-menu_one>div>div {
        padding-left: 4%;
    }

    .header-bottom>.container>.header-bottom-menu>div>ul {
        padding: 15px 15px;
    }

    .header-bottom-menu>div>.uk-navbar-nav {
        gap: 5px;
    }

    .header-bottom-menu_two {
        top: 95px !important;
    }

    .main_block7>.container>.h2-basic,
    .main_block7_text {
        text-align: center;
    }

    .main_block7_buttons>a {
        width: 100%;
    }

    .main_block6>div>div:nth-child(odd) {
        width: 45%;
        margin-left: 5%;
    }

    .logo4 {
        width: 35%;
    }

    .main_block6_req {
        font-size: 18px;
        margin-bottom: 22px;
    }

    .main_block6>div>div>.uk-slideshow-items {
        min-height: 510px !important;
        width: 360px;
    }
}

@media (max-width: 960px) {
    .main_block6>div>div:nth-child(odd) {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 40px;
        align-items: center;
    }

    .main_block6_text {
        text-align: center;
        max-width: 65%;
    }

    .main_block6>div>div:nth-child(even) {
        width: 65%;
        margin-left: 6%;
    }
}

@media (max-width: 768px) {
    .footer-bottom>.container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-top-menu {
        flex-direction: column;
    }

    .footer-top-menu_title {
        margin-left: 0px;
        font-size: 15px;
    }

    .footer-top-menu_item>div>ul {
        margin-left: 0px;
    }

    .footer-top-menu_item>div>ul>li>a {
        line-height: 24px;
        font-size: 14px;
    }

    .telephone-footer {
        margin-bottom: 25px;
    }

    .footer-bottom-copywrite {
        font-size: 14px;
    }

    .header-top,
    .header-bottom {
        display: none;
    }

    .header-mobile {
        display: flex;
        padding: 0 15px;
        background: var(--color-bg-2);
        color: var(--color-text2);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    .header-mobile>div>.uk-navbar-toggle {
        fill: var(--color-text2);
        min-height: 50px;
    }

    .search-close-mobile {
        right: -90%;
    }

    .search-close-mobile.uk-close {
        color: var(--color-bg-2);
    }

    .search-input-mobile {
        font-size: 1.7rem !important;
        font-family: 'Gotham XNarrow', sans-serif;
        font-weight: 300;
        font-style: normal;
        color: var(--color-bg-2) !important;
    }

    .search-input-mobile::placeholder {
        color: var(--color-bg-2) !important;
    }

    .header-top-mobile-buttons {
        margin-left: 10px;
    }

    .header-top-mobile-buttons>.uk-icon-button {
        width: 27px;
        height: 27px;
        background: none;
        margin-right: 2px;
    }

    .logo768 {
        max-width: 65px;
        padding-top: 5px;
    }

    #header-mobile-nav>.uk-offcanvas-bar {
        width: 100%;
        max-width: 768px;
        background: var(--color-text2);
        padding: 0px;
        height: fit-content;
        border-bottom: 2px solid var(--color-bg-1);
    }

    #header-mobile-nav>.uk-offcanvas-bar>div>.uk-offcanvas-close {
        display: flex;
        justify-content: flex-end;
        position: inherit;
        flex-direction: row;
        background: none;
        padding: 0px;
        border: none;
        box-shadow: none;
        fill: var(--color-bg-2);
        cursor: pointer;
        margin-top: -10px;
        transition: all 1ms;
    }

    #header-mobile-nav>.uk-offcanvas-bar>div>.uk-offcanvas-close:hover {
        fill: var(--color-bg-2h);
        background: var(--color-bg-4);
        border-radius: 50%;
    }

    .header-mobile-nav-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 25px;
        padding: 15px;
    }

    .header-mobile-nav_menu>li {
        border-bottom: 1px solid var(--color-bg-1);

    }

    .header-mobile-nav_menu>li>a {
        color: var(--color-bg-1) !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        padding: 5px 15px;
    }

    .header-mobile-nav_menu>li.uk-open>a {
        line-height: 28px;
        padding: 10px 15px 0px 15px;
    }

    .header-mobile-nav_menu>li>ul {
        padding: 0px;
    }

    .header-mobile-nav_menu>li>ul>li {
        border-bottom: 1px solid var(--color-bg-1);
    }

    .header-mobile-nav_menu>li>ul>li>a {
        color: var(--color-bg-1) !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        padding: 5px 20px;
    }

    .header-mobile-nav_menu>li>ul>li>a:hover,
    .header-mobile-nav_menu>li>ul>li.active>a {
        color: var(--color-bg-2) !important;
    }

    .header-mobile-nav_menu>li>ul>li>ul {
        padding: 0px 0px 0px 0px;
    }

    .header-mobile-nav_menu>li>ul>li>ul>li {
        border-top: 1px solid var(--color-bg-1);
    }

    .header-mobile-nav_menu>li>ul>li>ul>li>a {
        color: var(--color-bg-1) !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding: 5px 40px;
    }

    .header-mobile-nav_menu>li>ul>li>ul>li>a:hover,
    .header-mobile-nav_menu>li>ul>li>ul>li.active>a {
        color: var(--color-bg-2) !important;
    }

    .header-mobile-nav_menu>li>a>span.uk-nav-parent-icon {
        margin-right: 10px;
    }

    .header-mobile-nav_menu>li.uk-open>a>span.uk-nav-parent-icon,
    .header-mobile-nav_menu>li:hover>a>span.uk-nav-parent-icon {
        fill: var(--color-bg-2);
    }

    .header-mobile-nav_menu>li.uk-open>a,
    .header-mobile-nav_menu>li:hover>a,
    .header-mobile-nav_menu>li.active>a {
        color: var(--color-bg-2) !important;
    }

    .header-mobile-nav_menu>li.uk-open {
        border-bottom: 2px solid var(--color-bg-1);
        border-top: 1px solid var(--color-bg-1);
        background: var(--color-bg-4);
    }

    .header-mobile-bottom {
        background: var(--color-bg-31);
        padding: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .h2-basic {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 25px;
    }

    .main_block7 {
        padding: 100px 0px;
    }

    .main_block7_text {
        margin-bottom: 35px;
        font-size: 20px;
        line-height: 24px;
    }

    .main_block6_text {
        max-width: 100%;
    }

    .main_block6>div>div:nth-child(odd) {
        width: 90%;
        margin-left: 5%;
    }

    .main_block6>div>div:nth-child(even) {
        width: 90%;
        margin-left: 0%;
    }

    .main_block6>div>div>.uk-slideshow-items {
        min-height: 450px !important;
        width: 310px;
    }
}

@media (max-width: 450px) {
    .h2-basic {
        font-size: 24px;
        line-height: 26px;
    }

    .main_block7 {
        padding: 60px 0px;
    }

    .main_block7_text {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 20px;
    }

    .button-one,
    .button-two {
        font-size: 14px;
    }

    .main_block6 {
        padding: 50px 0px;
    }

    .main_block6>div>div:nth-child(odd) {
        width: 100%;
        margin-left: 10%;
        margin-bottom: 10px;
    }

    .main_block6>div>div:nth-child(even) {
        width: 100%;
        margin-left: 5%;
    }

    .main_block6>div>div>.uk-slideshow-items {
        min-height: 300px !important;
        width: 210px;
    }

    .main_block6>div>div>h2 {
        text-align: center;
    }

    .main_block6_req {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .main_block6>div>div:nth-child(even) {
        width: 100%;
        margin-left: 0%;
    }

    .main_block6>div>div>.uk-slideshow-items {
        min-height: 245px !important;
        width: 175px;
    }
}