@font-face {
    font-family: 'Times New Roman';
    src: url('https://cdn.anomiro.ru/fonts/TimesNewRomanPS-ItalicMT.woff2') format('woff2'),
        url('https://cdn.anomiro.ru/fonts/TimesNewRomanPS-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman Cyr';
    src: url('https://cdn.anomiro.ru/fonts/TimesNRCyrMT-Bold.woff2') format('woff2'),
        url('https://cdn.anomiro.ru/fonts/TimesNRCyrMT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman Cyr';
    src: url('https://cdn.anomiro.ru/fonts/TimesNRCyrMT.woff2') format('woff2'),
        url('https://cdn.anomiro.ru/fonts/TimesNRCyrMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times';
    src: url('https://cdn.anomiro.ru/fonts/Times-BoldItalic.woff2') format('woff2'),
        url('https://cdn.anomiro.ru/fonts/Times-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Gotham XNarrow', sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
}

div,
p,
h3,
h4,
h5,
h6,
li,
span {
    font-family: 'Gotham XNarrow', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden
}

a:hover {
    text-decoration: none;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

/*------Кнопки------*/

.button-one {
    background: var(--color-bg-2);
    font-family: 'Gotham XNarrow', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    border-left: 3px solid var(--color-bg-2);
    transition: all 0.5s;
    padding: 16px 40px 15px 40px;
    color: var(--color-text2);
}

.button-one:hover {
    background: var(--color-text2);
    border-left: 3px solid var(--color-bg-2);
    color: var(--color-bg-2);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.button-two {
    background: var(--color-bg-1);
    font-family: 'Gotham XNarrow', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    transition: all 0.5s;
    padding: 16px 40px 15px 40px;
    color: var(--color-text2);
}

.button-two:hover {
    background: var(--color-bg-1h);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
    color: var(--color-text2);
}

/*------Заголовки------*/

.h2-basic {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 30px;
}

/*------Хедер------*/
.header-mobile {
    display: none;
}

.header-top {
    padding: 0 15px;
    background: var(--color-bg-2);
    color: var(--color-text2);
}

.header-top a {
    color: var(--color-text2);
}

.header-top-social>.uk-icon-button {
    width: 30px;
    height: 30px;
    background: none;
}

.header-top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-social {
    padding: 10px 0;
}

.header-top-social>.uk-icon {
    margin-right: 10px;
    transition: all 0.1s;
}

[class*=as-icon-]:hover {
    color: var(--color-text2);
    border-radius: 6px;
}

.as-icon-whatsapp:hover {
    background: #3EE25B
}

.as-icon-vk:hover {
    background: #5181B8
}

.as-icon-telegram:hover {
    background: #24A1DE
}

.as-icon-telephone {
    border: 1.85px solid var(--color-text2);
    border-radius: 50%;
    width: 27px !important;
    height: 27px !important;
}

.as-icon-telephone:hover {
    border-radius: 50%;
}

.as-icon-telephone,
.as-icon-vlk,
.as-icon-vihlk,
.as-icon-lk,
.as-icon-menu {
    color: var(--color-text2);
    transition: all 0.5s;
}

.as-icon-telephone:hover,
.as-icon-vlk:hover,
.as-icon-vihlk:hover,
.as-icon-lk:hover,
.as-icon-menu:hover {
    color: var(--color-bg-2);
    background: var(--color-text2) !important;
    border-radius: 50%;
    border: 3px solid var(--color-text2);
}

.header-top-social>.telephone {
    font-weight: 700;
    margin-left: 60px;
}

.header-bottom {
    color: var(--color-bg-1);
    font-weight: 500;
}

.header-bottom>.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-bottom-logo {
    padding: 30px 0;
}

.logo1024 {
    display: none;
}

.header-bottom-menu {
    display: flex;
    justify-content: space-between;
}

.header-bottom>.container>.header-bottom-menu>div>ul {
    display: flex;
    padding: 0px 30px;
}

.header-bottom>.container>.header-bottom-menu>div>ul>li>a {
    padding: 35px 15px;
    font-family: 'Gotham XNarrow', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.5s;
    text-transform: none;
    color: var(--color-bg-1);
    border-bottom: 4px solid var(--color-text2);
}

.header-bottom>.container>.header-bottom-menu>div>ul>li>a:hover,
.header-bottom>.container>.header-bottom-menu>div>ul>li:hover>a,
.header-bottom>.container>.header-bottom-menu>div>ul>li.active>a {
    color: var(--color-bg-2);
    border-bottom: 4px solid var(--color-bg-2);
}

.header-bottom>.container>.header-bottom-menu>.search {
    padding: 10px 0;
}

.header-bottom-menu>.uk-navbar-right>.uk-navbar-toggle {
    color: var(--color-bg-1);
    margin-right: 10px;
}

.header-bottom-menu>.uk-navbar-left>.uk-navbar-item>.uk-search {
    width: 90% !important;
}

.search-close {
    color: var(--color-bg-1) !important;
    margin-right: 10px;
}

.header-bottom-menu>.uk-navbar-left>.uk-navbar-item>.uk-search>.uk-search-input {
    font-size: 1rem;
    font-family: 'Gotham XNarrow', sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*------Меню------*/

.header-bottom-menu_one.uk-navbar-dropdown-width-4:not(.uk-navbar-dropdown-stack) {
    top: 93px !important;
    left: -400px;
    width: 1320px;
    padding: 25px 60px;
    background-image: linear-gradient(123deg, #F2F2F2 72%, rgba(242, 242, 242, 0.47) 98.94%), url("https://cdn.anomiro.ru/images/fonmenu.png");
    background-size: 100% 100%, contain;
    background-repeat: repeat, no-repeat;
    background-position: 100% 100%, 100% 100%;
}

.header-bottom-menu_one>div>div {
    border-right: 1px solid var(--color-bg-6);
    padding-right: 0px !important;
    padding-left: 100px;
}

.header-bottom-menu_one>div>div:last-child {
    border-right: 1px solid transparent;
}

.header-bottom-menu_one>div>div>ul>.uk-nav-header {
    color: var(--color-text3);
    font-family: 'Gotham XNarrow', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
    transition: all 0.5ms;
    cursor: pointer;
}

.header-bottom-menu_one>div>div>ul>.uk-nav-header:hover {
    color: var(--color-bg-2);
}

.header-bottom-menu_one>div>div>ul>li>a,
.header-bottom-menu_one>div>div>ul>li.active>a {
    color: var(--color-text3);
    font-family: 'Gotham XNarrow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    transition: all 0.5ms;
    cursor: pointer;
    line-height: 26px;
}

.header-bottom-menu_one>div>div>ul>li>a:hover,
.header-bottom-menu_one>div>div>ul>li.active>a {
    color: var(--color-bg-2);
}

.header-bottom-menu_two {
    top: 92px !important;
    background: var(--color-bg-4);
    padding: 15px 10px 15px 20px;
    width: 210px;
    box-shadow: none;

}

.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>a,
.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>div.uk-navbar-dropdown>ul>li>a {
    color: var(--color-text3);
    font-family: 'Gotham XNarrow', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    transition: all 0.5ms;
    cursor: pointer;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>a:hover,
.header-bottom-menu_two>.uk-navbar-dropdown-nav>li.active>a,
.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>div.uk-navbar-dropdown>ul>li>a:hover,
.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>div.uk-navbar-dropdown>ul>li.active>a {
    color: var(--color-bg-2);
}

.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>a>span.uk-navbar-parent-icon {
    transform: rotate(270deg);
}

.header-bottom-menu_two>.uk-navbar-dropdown-nav>li>.uk-navbar-dropdown {
    top: 30px !important;
    left: 210px !important;
    background: var(--color-bg-4);
    box-shadow: none;
    border-left: 1px solid var(--color-bg-6);
}


/*------Футер------*/
.footer {
    color: var(--color-text2);
}

.footer-top {
    background: var(--color-bg-3);
    padding: 55px 0;
}

.footer-top-logo {
    padding-bottom: 25px;
}

.footer-bottom {
    background: var(--color-bg-31);
    letter-spacing: 0.8px;
    color: var(--color-text21);
    border-top: 1px solid var(--color-text21);
    padding: 25px 0;
}

.footer-bottom>.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-top-menu_item>svg {
    fill: var(--color-bg-2);
}

.adress-footer {
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 10px;
}

.email-footer {
    color: var(--color-text2);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}

.email-footer:hover {
    color: var(--color-text2);
}

.telephone-footer {
    padding-top: 15px;
}

.telephone-footer>span {
    display: block;
    font-weight: 300;
    font-size: 14px;
}

.telephone-footer>a {
    color: var(--color-text2);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
}

.footer-top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.footer-top-menu_item:nth-child(even) {
    display: flex;
    flex-direction: row;
}

.footer-top-menu_item:nth-child(odd) {
    max-width: 370px;
}

.footer-top-menu_title {
    font-weight: 500;
    font-size: 18px;
    margin-left: 45px;
    margin-right: 45px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--color-bg-2);
    margin-bottom: 40px;
}

.footer-top-menu_item>div>ul {
    margin-left: 45px;
}

.footer-top-menu_item>div>ul>li>a {
    color: var(--color-text2);
    font-weight: 300;
    font-size: 15px;
    line-height: 35px;
}

.footer-bottom-social>.uk-icon-button {
    background: var(--color-bg-31);
    color: var(--color-text21);
    transition: all 0.5s;
}

.footer-bottom-social>.uk-icon-button:hover {
    color: var(--color-text2);
}

/*------БЛОКИ------*/

/*------Блок 1------*/



/*------Блок 2------*/
/*------Блок 3------*/
/*------Блок 4------*/
/*------Блок 5------*/
/*------Блок 6------*/
/*------Блок 7------*/

.main_block7 {
    background: var(--color-bg-4);
    padding: 130px 0px;
}

.main_block7_text {
    max-width: 1130px;
    margin-bottom: 45px;
    color: var(--color-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.main_block7_buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.main_block7_buttons>a {
    width: 49%;
    text-align: center;
}

/*------Адаптив ------*/
@media (max-width: 1350px) {
    .container {
        max-width: 1000px;
    }

    .logo {
        display: none;
    }

    .logo1024 {
        display: block;
    }

    .header-bottom-menu_one.uk-navbar-dropdown-width-4:not(.uk-navbar-dropdown-stack) {
        left: -100px;
        width: 1000px;
    }

    .header-bottom-menu_one>div>div {
        padding-left: 60px;
    }
}

@media (max-width: 1060px) {
    .container {

        padding: 0 20px;
    }

    .header-bottom>.container>.header-bottom-menu>div>ul>li>a {
        padding: 25px 10px;
        font-size: 15px;
    }

    .header-bottom>.container>.header-bottom-menu>div>ul>li>a:hover {
        border-bottom: 2px solid var(--color-bg-2);
    }

    .footer-top-menu_item:nth-child(even) {
        flex-direction: column;
    }

    .footer-top-menu_title {
        margin-bottom: 10px;
    }

    .footer-top-menu_item>div>ul>li>a {
        line-height: 30px;
    }

    .footer-top-menu_item>div>ul {
        margin-bottom: 20px;
    }

    .header-bottom-menu_one.uk-navbar-dropdown-width-4:not(.uk-navbar-dropdown-stack) {
        top: 95px !important;
        left: -100px !important;
        width: 113%;
        background-image: linear-gradient(123deg, #F2F2F2 68%, rgba(242, 242, 242, 0.47) 98.94%), url("https://cdn.anomiro.ru/images/fonmenu.png");
    }

    .header-bottom-menu_one>div>div {
        padding-left: 4%;
    }

    .header-bottom>.container>.header-bottom-menu>div>ul {
        padding: 15px 15px;
    }

    .header-bottom-menu>div>.uk-navbar-nav {
        gap: 5px;
    }

    .header-bottom-menu_two {
        top: 95px !important;
    }

    .main_block7>.container>.h2-basic,
    .main_block7_text {
        text-align: center;
    }

    .main_block7_buttons>a {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footer-bottom>.container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-top-menu {
        flex-direction: column;
    }

    .footer-top-menu_title {
        margin-left: 0px;
        font-size: 15px;
    }

    .footer-top-menu_item>div>ul {
        margin-left: 0px;
    }

    .footer-top-menu_item>div>ul>li>a {
        line-height: 24px;
        font-size: 14px;
    }

    .telephone-footer {
        margin-bottom: 25px;
    }

    .footer-bottom-copywrite {
        font-size: 14px;
    }

    .header-top,
    .header-bottom {
        display: none;
    }

    .header-mobile {
        display: flex;
        padding: 0 15px;
        background: var(--color-bg-2);
        color: var(--color-text2);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    .header-mobile>div>.uk-navbar-toggle {
        fill: var(--color-text2);
        min-height: 50px;
    }

    .search-close-mobile {
        right: -90%;
    }

    .search-close-mobile.uk-close {
        color: var(--color-bg-2);
    }

    .search-input-mobile {
        font-size: 1.7rem !important;
        font-family: 'Gotham XNarrow', sans-serif;
        font-weight: 300;
        font-style: normal;
        color: var(--color-bg-2) !important;
    }

    .search-input-mobile::placeholder {
        color: var(--color-bg-2) !important;
    }

    .header-top-mobile-buttons {
        margin-left: 10px;
    }

    .header-top-mobile-buttons>.uk-icon-button {
        width: 27px;
        height: 27px;
        background: none;
        margin-right: 2px;
    }

    .logo768 {
        max-width: 65px;
        padding-top: 5px;
    }

    #header-mobile-nav>.uk-offcanvas-bar {
        width: 100%;
        max-width: 768px;
        background: var(--color-text2);
        padding: 0px;
        height: fit-content;
        border-bottom: 2px solid var(--color-bg-1);
    }

    #header-mobile-nav>.uk-offcanvas-bar>div>.uk-offcanvas-close {
        display: flex;
        justify-content: flex-end;
        position: inherit;
        flex-direction: row;
        background: none;
        padding: 0px;
        border: none;
        box-shadow: none;
        fill: var(--color-bg-2);
        cursor: pointer;
        margin-top: -10px;
        transition: all 1ms;
    }

    #header-mobile-nav>.uk-offcanvas-bar>div>.uk-offcanvas-close:hover {
        fill: var(--color-bg-2h);
        background: var(--color-bg-4);
        border-radius: 50%;
    }

    .header-mobile-nav-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 25px;
        padding: 15px;
    }

    .header-mobile-nav_menu>li {
        border-bottom: 1px solid var(--color-bg-1);

    }

    .header-mobile-nav_menu>li>a {
        color: var(--color-bg-1) !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        padding: 5px 15px;
    }

    .header-mobile-nav_menu>li.uk-open>a {
        line-height: 28px;
        padding: 10px 15px 0px 15px;
    }

    .header-mobile-nav_menu>li>ul {
        padding: 0px;
    }

    .header-mobile-nav_menu>li>ul>li {
        border-bottom: 1px solid var(--color-bg-1);
    }

    .header-mobile-nav_menu>li>ul>li>a {
        color: var(--color-bg-1) !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        padding: 5px 20px;
    }

    .header-mobile-nav_menu>li>ul>li>a:hover,
    .header-mobile-nav_menu>li>ul>li.active>a {
        color: var(--color-bg-2) !important;
    }

    .header-mobile-nav_menu>li>ul>li>ul {
        padding: 0px 0px 0px 0px;
    }

    .header-mobile-nav_menu>li>ul>li>ul>li {
        border-top: 1px solid var(--color-bg-1);
    }

    .header-mobile-nav_menu>li>ul>li>ul>li>a {
        color: var(--color-bg-1) !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding: 5px 40px;
    }

    .header-mobile-nav_menu>li>ul>li>ul>li>a:hover,
    .header-mobile-nav_menu>li>ul>li>ul>li.active>a {
        color: var(--color-bg-2) !important;
    }

    .header-mobile-nav_menu>li>a>span.uk-nav-parent-icon {
        margin-right: 10px;
    }

    .header-mobile-nav_menu>li.uk-open>a>span.uk-nav-parent-icon,
    .header-mobile-nav_menu>li:hover>a>span.uk-nav-parent-icon {
        fill: var(--color-bg-2);
    }

    .header-mobile-nav_menu>li.uk-open>a,
    .header-mobile-nav_menu>li:hover>a,
    .header-mobile-nav_menu>li.active>a {
        color: var(--color-bg-2) !important;
    }

    .header-mobile-nav_menu>li.uk-open {
        border-bottom: 2px solid var(--color-bg-1);
        border-top: 1px solid var(--color-bg-1);
        background: var(--color-bg-4);
    }

    .header-mobile-bottom {
        background: var(--color-bg-31);
        padding: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .h2-basic {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 25px;
    }

    .main_block7 {
        padding: 100px 0px;
    }

    .main_block7_text {
        margin-bottom: 35px;
        font-size: 20px;
        line-height: 24px;
    }


}

@media (max-width: 450px) {
    .h2-basic {
        font-size: 24px;
        line-height: 26px;
    }

    .main_block7 {
        padding: 60px 0px;
    }

    .main_block7_text {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 20px;
    }

    .button-one,
    .button-two {
        font-size: 14px;
    }
}